vti_encoding:SR|utf8-nl
vti_author:SR|YOGI\\John
vti_modifiedby:SR|YOGI\\John
vti_timelastmodified:TR|25 May 2009 02:10:00 -0000
vti_timecreated:TR|25 May 2009 02:10:00 -0000
vti_cacheddtm:TX|25 May 2009 02:10:00 -0000
vti_filesize:IR|2731
vti_cachedlinkinfo:VX|S|default_bg.jpg S|login_bg.jpg S|edit_bg.jpg S|create_bg.jpg S|bkg_tabs.jpg
vti_cachedsvcrellinks:VX|FSUS|maintenance/theme/default_bg.jpg FSUS|maintenance/theme/login_bg.jpg FSUS|maintenance/theme/edit_bg.jpg FSUS|maintenance/theme/create_bg.jpg FSUS|maintenance/theme/bkg_tabs.jpg
vti_extenderversion:SR|12.0.0.6211
vti_backlinkinfo:VX|maintenance/pageedit.asp maintenance/tabsedit.asp maintenance/old/brands.asp maintenance/usersadd.asp maintenance/configedit.asp maintenance/pageadd.asp maintenance/old/brandedit.asp maintenance/newsletternotice.asp maintenance/logon.asp maintenance/categoryadd.asp maintenance/users.asp maintenance/old/brandadd.asp maintenance/images.asp maintenance/old/products.asp maintenance/galleryadd.asp maintenance/galleries.asp maintenance/configsrvedit.asp maintenance/tabsadd.asp maintenance/categoryedit.asp maintenance/old/productedit.asp maintenance/usersedit.asp maintenance/old/productadd.asp maintenance/categories.asp maintenance/pages.asp maintenance/tabs.asp maintenance/default.asp
vti_syncwith_localhost\:80/dixiewings:TW|25 May 2009 02:10:00 -0000
